.btn {
  height: min-content;
  width: max-content;
  border: none;
  border-radius: 99999px;
  font-weight: 600;
  cursor: pointer;
  transition: filter 0.2s ease;
  display: inline-flex;
  align-items: center;
  justify-content: center;

  &--sm {
    font-size: 14px;
    padding: 8px 16px;
  }

  &--md {
    font-size: 16px;
    padding: 12px 24px;
  }

  &--lg {
    font-size: 18px;
    padding: 16px 32px;
  }

  &--primary {
    background-color: transparent !important;
  }

  // &--secondary {
  // }
  
  &--accent {
    border: 2px solid currentColor
  }

  &:hover {
    filter: brightness(0.9); // escurece levemente a cor dinâmica
  }

  &:active {
    filter: brightness(0.8); // ainda mais escuro no clique
  }

  &:disabled {
    opacity: 0.6;
    cursor: not-allowed;
    filter: none;
  }
}

.btn-border {
  border: 1px solid white;
}

.btn-config-theme {
  width: max-content;
  margin-top: 10px;
  margin-bottom: 10px;
}

// TODO - Preciso resolver isso
// .btn-context {
//   background-color: opacify(transparent, $amount: 0.3);
// }
